<template name="home">
    <h1>Spotify Queue player</h1>
    <iframe src="{{track.uri}}"></iframe>
    {{> playlist}}
    {{> buttons}}
</template>

<template name="playlist">
    <ol>
        {{#each tracks}}
        {{> track}}
        {{/each}}
    </ol>
</template>

<template name="track">
    <li>{{name}}: {{uri}}</li>
</template>

<template name="buttons">
    <br/>
    <input id='searchText' type='text'/>
    <br/>
    <button id="search">Search</button>
    <button id="toggle">Toggle</button>
    <button id="clear">Clear Playlist</button>
</template>
